
body {
    font-family: 'Courgette', cursive;
    background-image: url(kuiken.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 280px 80px;
    transform: rotate(360deg);
    transition-duration: 5s;
}

.first {
    color: black;
    font-size: 20px;

}

table {
    background: radial-gradient(circle at center, yellow 10%, green 100%);
    border: 3px dashed brown;
    box-shadow: 40px 30px 20px 0 grey;
}

h1 {
    color:red;
    /* the background should be yellow */
    background: rgba(50%,90%,10%,0.5);
    font-family: 'Indie Flower', cursive;
    background: linear-gradient(45deg, green, greenyellow, darkgreen);
    border: 3px dotted brown;

}
h2 {
    color: orange;
}
p {
    color:green;
}
blockquote {
    color: blue;
}
tr:nth-child(even) {
    color: darkred;
}
tr:nth-child(odd){
    color: red;
}
th {
    color: darkblue;
}

td#special {
    color: black;
}

span#right {
    background-image: url(duim_omhoog.jpg);
    background-size: 3rem;
    background-repeat: no-repeat;
    padding: 0 0 2em 3.5em;
    display: inline-block;
    color: black;
}

span#cool {
    text-shadow: 5px -5px 0em darkblue;
}

svg {
    transform: rotate(360deg);
    transition-duration: 2s;
}

svg:hover {
    transform: scale(2,2);
    transition-duration: 1s;
}